<div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr >
          <th class="text-center">Join Carpool</th>
          <th class="text-center">Driver Name</th>
          <th class="text-center">Group Name</th>
          <th class="text-center">Date Time</th>
          <th class="text-center">Spaces Left</th>
        </tr>
      </thead>
      <tbody id="available_rides_list text-center">
        <% available_rides.each do |po_ride| %>
         <tr class="ridesrow">
           <!-- <td><a href="#" class="btn btn-success btn-sm">Join</a></td> -->
           <td><%= link_to "+", join_carpool_path(user, po_ride), class: "btn btn-sm btn-default joinbtn" %></td>
           <td class="text-center"><%= link_to po_ride.driver.name, company_user_path(user.company, po_ride.driver) %></td>
           <td class="text-center"><%= link_to po_ride.name, company_user_carpool_path(user.company, po_ride.driver, po_ride) %></td>
           <td class="text-center"><%= po_ride.date.to_formatted_s(:short) %></td>
           <td class="text-center"><%= po_ride.seats_remaining %></td>
         </tr> 
        <% end -%> 
      </tbody>
    </table>
</div>
<hr>
