<h2 class="center">Passenger Rides</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Spaces Left</th>
          <th>Driver Name</th>
          <th>Group Name</th>
          <th>Distance</th>
          <th>Date Time</th>
        </tr>
      </thead>
      <tbody>
        <% user.passenger_carpools.each do |po_ride| %>
          <% if po_ride.driver.nil? %>
          <% else %>
             <tr>
               <td><%= po_ride.seats_remaining %></td>
               <td><%= po_ride.driver.name %></td>
               <td><%= po_ride.name %></td>
               <td><%= po_ride.driver_ride.distance_to( [po_ride.passenger_rides.where(user_id: user.id).first.latitude, po_ride.passenger_rides.where(user_id: user.id).first.longitude] ).round(3) %></td>
               <td><%= po_ride.date %></td>  
             </tr> 
          <% end -%>        
        <% end -%>        
      </tbody>
    </table>
</div>