<div >
  <div id="map"></div>
</div>

<hr>
<%= render partial: "available_rides", locals: {available_rides: @cpools, user: @user} %>

<%= @cpools.count %>
<%= @cp2.count %>
<hr>
<% @cp2.each do |cpool| %>
    <%= cpool.longitude %>
    <br>
    <%= cpool.latitude %>
    <br><br>
<% end -%>
<hr>

<script type="text/javascript">
    $(document).ready(function(){
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
        
    });
</script>